fastapi==0.128.0
uvicorn[standard]==0.40.0

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.8.0
joblib==1.5.3

shap==0.44.1
numba==0.59.1
llvmlite==0.42.0

pytest
httpx
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
